@import '../../app-theme';
@import '../../highlightjs/material-dark';

// Define the dark theme.
$primary: mat-palette($mat-purple, 300);
$accent:  mat-palette($mat-teal, A400);

$theme: mat-dark-theme($primary, $accent);
@include angular-material-theme($theme);
@include material-docs-app-theme($theme);
